.page {
  color: var(--main-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image, url("../images/cover-image.png"));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: 100vh;
  
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decoration {
  position: relative;
}

.decoration::before,
.decoration::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decoration::before {
  border-inline-end: 1px solid var(--additional-color, #ff0070);
  border-block-start: 1px solid var(--additional-color, #ff0070);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  
}

.decoration::after {
  border-inline-start: 1px solid var(--additional-color, #ff0070);
  border-block-end: 1px solid var(--additional-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec-decoration {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decoration-visibility, visible);
  display: inline-flex;
  inset-block-start: 10px;
  inset-inline-end: 20px;
  align-items: center;
  gap: 10px;
}

.rec-decoration::before {
  content: "rec";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  text-transform: uppercase;
}

.rec-decoration::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  margin-block: 65px;
  justify-self: end;
  
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  color: var(--additional-color, #ff0070);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--additional-color-dark, #ff007040);
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.page-title {
  font-weight: 700;
  font-size: var(--logo-size); 
  line-height: 82.5%;
  color: var(--brand-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.shadow-decoration {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.header__title {
  margin-block: 55px;
  color: var(--bright-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.title {
  color: var(--additional-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.article {
  display: grid;
  gap: 10px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.title-decoration {
  color: var(--bright-color, #000028);
  background: var(--accent-color, #ff0070);
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--main-color, #f1b2ce);
  
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.section-adviсe__title {
  margin-block-end: 20px;
}

.section-advice__subtitle {
  font-weight: 400;
}

.section-adviсe__articles-list {
  grid-column-start: 2;
}

.section-moodboard {  
  gap: 10px;
}

.moodboard-list {
  display: grid;
  gap: 10px;
}

.moodboard-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  place-items: center;
}

@media (width >= 768px) {
  .rec-decoration {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .page-title {
    --logo-size:  clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-attention__articles-list {
    grid-column-start: span 2;
  }

  .section-moodboard {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-adviсe__articles-list {
    grid-column-start: 2;
  }

  .moodboard-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .moodboard-list__item:first-child,
  .moodboard-list__item:last-child {
    grid-column-start: span 2;
  }

  .moodboard-list__item:nth-child(2),
  .moodboard-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__title {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
    align-self: center;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .cover {
    min-height: 668px;
  }

}

@media (width >= 1024px) {
  .page-title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }

  .section {
    column-gap: 30px;
  }

  .section-attention__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    justify-self: end;
    align-self: center;
  }
}
